.text {
  color: white;
}
.signUp_button:hover {
  color: azure;
  background-color: var(--dark-grey);
  border: 2px solid azure;
}
.SginUp,
.SginUp a {
  text-align: right;
  font-size: 16px;
  padding-top: 10px;
  color: lightgreen;
  margin: 0;
}
.SginUp a {
  color: rgba(144, 238, 144, 0.637);
}
