.border {
  border-top: 1px solid lightgreen;
  color: white;
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_content {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
}

.footer_description {
  background-color: grey;
  margin: 2rem 0;
  padding: 1rem;
  width: 50%;
}

.description_title {
  font-size: 1rem;
}

.list_item {
  color: white;
  width: 100%;
  text-decoration: none;
}

.list_item:hover {
  text-decoration: underline;
}

.footer_social {
  width: 50%;
  text-align: center;
}

.social_title {
  margin: 2rem 0;
  padding: 1rem;
  font-size: 1rem;
}
