.modalBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.modalContent{
    margin: 0 auto;
    position: relative;
    z-index: 1; 
    background-color: #fff;
    padding: 20px;
    width: 480px;
    height: fit-content;
    border-radius: 10px;
}
.x{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    z-index: 2;
}

.input{
    width: 100%;
    padding-top: 2rem;
}

