:root {
  --main-black: #272727;
  --light-green: #14a76c;
  --dark-grey: #747474;
}

html,
body {
  background-color: #272727 !important;
  width: 100%;
  height: 100vh;
  padding: 0 5px;
}

.error_text {
  color: var(--light-green);
}
